:root {
  --mainColor: #eaeaea;
  --secondaryColor: #fff;

  --borderColor: #c1c1c1;

  --mainText: black;
  --secondaryText: #3a3a3a;

  --themeDotBorder: #24292e;

  --previewBg: rgb(251, 249, 243, 0.8);
  --previewShadow: #f0ead6;

  --buttonColor: black;
  --red: red;

  --success-color: #2ecc71;
  --error-color: #e74c3c;
  --timeline:#c1c1c1;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: "Russo One", sans-serif;
  /* font-family: 'VT323', monospace; */
  font-weight: 500;
  /* text-align: "center", */
}
th,
td,
p,
li,
span,
label,
input,
textarea {
  color: var(--secondaryText);
  font-family: "Roboto Mono", monospace;
}



.s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.s2 {
  background-color: var(--secondaryColor);
 
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}



.greeting-wrapper {
  display: grid;
  text-align: center;
  align-content: center;
  min-height: 10em;
}
.main-container {
  width: 1100px;
  margin: 0 auto;
}

.about-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-bottom: 30px;
  padding-top: 50px;
  gap: 30px;
  margin: 0 auto;
}
.thumbnail2 {
  width: 100%;
  transition: transform 0.1s;
}

.social-link {
  padding-top: 150px;
  align-content: left;
  text-align: left;
}

.team {
  text-align: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  justify-content: space-evenly;
  background-color: #f0ead6;
}

th,
td {
  text-align: left;
  padding: 10px;
}

.thumbnail2 {
  width: 100%;
  transition: transform 0.1s;
}

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  gap: 20px;
  justify-content: center;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 80px;
  color: var(--mainText);
}

.copyright {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20%);
  gap: 0px;
  justify-content: center;
  text-align: center;
  /* padding-bottom: 60px; */
  color: var(--mainText);
}




@media screen and (max-width: 1100px) {
  .main-container {
    width: 95%;
  }
}

@media screen and (max-width: 550px) {
  .social-link {
    padding-top: 50px;
  }
}

@media screen and (max-width: 550px) {
  h1,
  h2 {
    font-size: 30px;
  }
  .greeting-wrapper,
  .social-links {
    font-size: 12px;
    padding: 20px 0 20px;
  }

  .social-link {
    padding-top: 50px;
  }
}
