:root {
  --mainText: black;
  --secondaryText: #3a3a3a;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: "Russo One", sans-serif;
  /* font-family: 'VT323', monospace; */
  font-weight: 500;
  /* text-align: "center", */
}
th,
td,
p,
li,
span,
label,
input,
textarea {
  color: var(--secondaryText);
  font-family: "Roboto Mono", monospace;
}

.greeting-wrapper {
  display: grid;
  text-align: center;
  align-content: center;
  min-height: 10em;
}
.main-container {
  width: 1100px;
  margin: 0 auto;
}

.about-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-bottom: 30px;
  padding-top: 50px;
  gap: 30px;
  margin: 0 auto;
}
.thumbnail2 {
  width: 100%;
  transition: transform 0.1s;
}

.social-link {
  padding-top: 150px;
  align-content: left;
  text-align: left;
}

.team {
  text-align: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  justify-content: space-evenly;
  background-color: #f0ead6;
}

th,
td {
  text-align: left;
  padding: 10px;
}

.thumbnail2 {
  width: 100%;
  transition: transform 0.1s;
}

@media screen and (max-width: 1100px) {
  .main-container {
    width: 95%;
  }
}

@media screen and (max-width: 550px) {
  .social-link {
    padding-top: 50px;
  }
}

@media screen and (max-width: 550px) {
  h1,
  h2 {
    font-size: 30px;
  }
  .greeting-wrapper,
  .social-links {
    font-size: 12px;
    padding: 20px 0 20px;
  }

  .social-link {
    padding-top: 50px;
  }
}
